<h2>Clue Maps</h2>

<h3><%= link_to "Add New", new_clue_map_url %></h3>

<% @teams.each do |team| %>
  
  <% clue_map = ClueMap.find(:all, :conditions => {:team_id => team.id}) %>
  <% first = ClueMap.find(:first, :conditions => {:team_id => team.id, :first => true}) %>
  <% unless clue_map.nil? || clue_map.empty? %>
    <h3><%= team.login %></h3>
  <h4>Clue Map</h4>
  <table class="table table_condensed table-striped">
	<tr>
		<th>Current Location</th>
		<th>Next Location</th>
		<th>Actions</th>
	</tr>
	<% unless first.nil? %>	
      <tr>
		<td><%= link_to first.current_location.name, location_url(first.current_location) %>*</td>
	    <td><%= link_to first.next_location.name, location_url(first.next_location) %></td>
		<td><%= link_to "Edit", edit_clue_map_url(first) %> | <%= link_to "Delete", first, confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
    <% end %>
	
    <% clue_map.each do |stop| %>
      <% unless stop==first %>
        <tr>
          <td><%= link_to stop.current_location.name, location_url(stop.current_location) %></td>
  	      <td><%= link_to stop.next_location.name, location_url(stop.next_location) %></td>
  	      <td><%= link_to "Edit", edit_clue_map_url(stop) %> | <%= link_to "Delete", stop, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
	  <% end %> 
    <% end %>
  </table>
  
 <h4>Check Ins</h4>
    <% @check_ins = CheckIn.find(:all, :conditions => {:team_id => team.id}, :order => 'created_at') %>
    <% unless @check_ins.nil? %>
      <table class="table table_condensed table-striped">
	    <tr>
		  <th>Location</th>
		  <th>Time of Check In</th>
		  <th>Actions</th>
	    </tr>	
        <% @check_ins.each do |check_in| %>
          <tr>
            <td><%= check_in.location.name %></td>
	        <td><%= check_in.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%I:%M%p") %></td>
	        <td><%= link_to "Delete", check_in, confirm: 'Are you sure?', :controller => "check_ins", method: :delete %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
<% end %>
