<h2>Your Clue</h2>

<% unless @clue.nil? %>
  <% @clue.next_location.clues.each do |clue| %>
   <%= clue.clue_text %>
    <br /><br />
    <% clue.hints.each do |hint| %>
      <a href="#" onclick='toggle_hints("hint<%=hint.id%>");'>View Hint</a>
      <div id="hint<%=hint.id%>" style="display:none;"><%= hint.hint_text %> <%= link_to "Edit", edit_hint_url(hint) %></div>
	  <br />
    <% end %>	
  <% end %>
<% else %>
  No Clue Available
<% end %>  